.container {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
  background: var(--dark-shade);
  color: var(--white);
}

.header {
  height: 8rem;
}

.main {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 4rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  padding: 1rem;
}

.navigation {
  display: flex;
  flex: 6 100%;
  flex-flow: row wrap;
}

.sidebar,
.content {
  min-height: calc(100vh - 16rem);
}

.sidebar {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  background: var(--dark-tint);
}

.content {
  display: flex;
  flex: 2;
  flex-flow: row wrap;
  justify-content: space-evenly;
  min-width: 32rem;
  background: var(--dark);
}

.primary {
  width: 92%;
}

.secondary {
  width: 44%;
}

.info {
  align-self: flex-start;
  width: 90%;
}

.buttons {
  display: flex;
  flex-flow: column wrap;
  flex: 1;
}

.heading {
  text-align: center;
  margin: 1rem;
}

.paragraph {
  margin-bottom: 1rem;
}

.image {
  width: 100%;
}

.image--primary {
  width: 48%;
  margin: 0 4% 4% 0;
  float: left;
}

.image--secondary {
  margin-bottom: 2rem;
}

.button--nav {
  flex: 1;
  min-height: 4rem;
  background: var(--dark-tint);
  border: 0.0625rem solid var(--dark);
  cursor: pointer;
}

.button--nav:hover,
.button--nav:focus,
.button--nav:active {
  background: var(--medium-shade);
}

@media only screen and (max-width: 1024px) {
  .secondary {
    width: 92%;
  }
  .image--primary {
    width: 100%;
    margin: 0 0 2rem 0;
    float: none;
  }
}

@media only screen and (max-width: 512px) {
  .content {
    min-width: 20rem;
  }
  .navigation {
    flex-flow: column wrap;
  }
}
