.label,
.button,
.link,
.input,
.textarea,
.select,
.option {
  display: inline-block;
  font-family: Avenir, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25;
}

.label {
  vertical-align: middle;
  color: var(--medium);
  cursor: pointer;
}

.label:hover,
.label:focus,
.label:active {
  color: var(--medium-tint);
}

.button {
  display: inline-block;
  padding: 0.4375rem 0.9375rem;
  border: 0.0625rem solid var(--medium);
  border-radius: 0.25rem;
  background: var(--medium);
  color: var(--white);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.button:hover,
.button:focus,
.button:active {
  background: var(--medium-tint);
  border-color: var(--medium-tint);
}

.button:disabled,
.button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.button:visited {
  color: var(--white);
}

.link,
.link:link {
  text-decoration: underline;
  color: var(--white);
  cursor: pointer;
  outline: none;
}

.link:visited {
  color: var(--medium7);
}

.link:hover,
.link:active,
.link:focus {
  color: var(--medium6);
}

.input,
.textarea {
  min-width: 16rem;
  padding: 0.4375rem 0.9375rem;
  border: 0.0625rem solid var(--medium);
  border-radius: 0.25rem;
  background: var(--white);
  color: var(--dark);
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  font-size: 1rem;
  outline: none;
}

.textarea {
  resize: none;
  min-height: 8rem;
}

.input:hover,
.input:focus,
.input:active,
.textarea:hover,
.textarea:focus,
.textarea:active {
  border-color: var(--medium-tint);
}

.input:disabled,
.input[disabled],
.textarea:disabled,
.textarea[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.input::placeholder,
.textarea::placeholder {
  color: var(--medium-tint);
}

.checkbox:disabled + .label,
.checkbox[disabled] + .label,
.radio:disabled + .label,
.radio[disabled] + .label {
  pointer-events: none;
  opacity: 0.5;
}

.checkbox,
.radio {
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  margin: 0;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkbox::before,
.radio::before,
.checkbox::after,
.radio::after {
  content: "";
  position: absolute;
}

.checkbox::before,
.radio::before {
  display: inline-block;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  border: 0.125rem solid var(--medium);
}

.checkbox::after,
.radio::after {
  display: none;
  top: 0.25rem;
  left: 0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  background: var(--medium);
}

.checkbox:hover::before,
.radio:hover::before,
.checkbox:focus::before,
.radio:focus::before,
.checkbox:active::before,
.radio:active::before {
  border: 0.125rem solid var(--medium-tint);
}

.checkbox:hover::after,
.radio:hover::after,
.checkbox:focus::after,
.radio:focus::after,
.checkbox:active::after,
.radio:active::after {
  background: var(--medium-tint);
}

.checkbox:checked::after,
.radio:checked::after {
  display: inline-block;
}

.checkbox::before,
.checkbox::after {
  border-radius: 10%;
}

.radio::before,
.radio::after {
  border-radius: 50%;
}

.checkbox:disabled,
.checkbox[disabled],
.radio:disabled,
.radio[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.select {
  margin: 0;
  padding: 0.4375rem 0.9375rem;
  border: 0.0625rem solid var(--medium);
  border-radius: 0.25rem;
  background: var(--white);
  color: var(--medium);
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  overflow: auto;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select:hover,
.select:focus,
.select:active {
  border-color: var(--medium-tint);
}

.select:disabled,
.select[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.option {
  display: block;
  padding: 0.25rem;
  color: var(--medium);
}

.option:hover,
.option:focus,
.option:active {
  background: var(--medium-tint);
  color: var(--white);
  border-radius: 0.25rem;
}

.option:checked {
  background: var(--medium)
    linear-gradient(0deg, var(--medium) 0%, var(--medium) 100%);
  color: var(--white);
  border-radius: 0.25rem;
}

.surface {
  display: flex;
  min-width: 100svw;
  min-height: 100svh;
}

.modal,
.dialog,
.center-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-section {
  position: relative;
  margin: auto;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
