.container {
  display: flex;
  flex-flow: column wrap;
  min-height: 100svh;
  background: var(--medium1);
  color: var(--white);
}

.header {
  padding: 0.5rem;
}

.main {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 4rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  padding: 1rem;
}

.navigation {
  display: flex;
  flex: 1 1 100%;
  flex-flow: row wrap;
}

.sidebar,
.content {
  min-height: calc(100svh - 16rem);
}

.sidebar {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  min-width: 16rem;
  background: var(--medium3);
  border-right: 0.0625rem solid var(--medium2);
}

.content {
  display: flex;
  flex: 2;
  flex-flow: row wrap;
  justify-content: space-evenly;
  min-width: 32rem;
  background: var(--medium2);
}

.primary {
  width: 92%;
}

.secondary {
  width: 44%;
}

.info {
  align-self: flex-start;
  width: 90%;
}

.buttons {
  display: flex;
  flex-flow: column wrap;
  flex: 1;
}

.heading {
  text-align: center;
  margin: 1rem;
}

.title {
  font-size: clamp(3.815rem, 10svw, 9.538rem);
}

.paragraph {
  margin-bottom: 1rem;
}

.image {
  width: 100%;
}

.image--primary {
  width: 48%;
  margin: 0 4% 4% 0;
  float: left;
}

.image--secondary {
  margin-bottom: 2rem;
}

.button--nav,
.button--sub {
  flex: 1;
  min-height: 4rem;
  background: var(--medium3);
  border: none;
  border-radius: 0;
  cursor: pointer;
  box-shadow: none;
}

.button--nav:hover,
.button--nav:focus,
.button--nav:active,
.button--sub:hover,
.button--sub:focus,
.button--sub:active {
  background: var(--medium5);
  border: none;
}

.button--active {
  color: var(--white);
  background: var(--blue);
  border-color: var(--blue);
}

.button--active:hover,
.button--active:focus,
.button--active:active {
  color: var(--white);
  background: var(--blue-tint);
  border-color: var(--blue-tint);
}

.buttons {
  border-top: 0.0625rem solid var(--medium2);
}

.button--nav:not(:last-child) {
  border-right: 0.0625rem solid var(--medium2);
}

.button--sub {
  border-bottom: 0.0625rem solid var(--medium2);
}

@media only screen and (max-width: 64rem) {
  .secondary {
    width: 92%;
  }
  .image--primary {
    width: 100%;
    margin: 0 0 2rem 0;
    float: none;
  }
}

@media only screen and (max-width: 32rem) {
  .content {
    min-width: 20rem;
  }
  .navigation {
    flex-flow: column wrap;
  }
  .button--nav:not(:last-child) {
    border-bottom: 0.0625rem solid var(--medium2);
    border-right: none;
  }
}
