*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: flow-root;
  font-size: 16px;
  font-family: Avenir, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: var(--white);
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 3.815rem;
}

h2 {
  font-size: 3.052rem;
}

h3 {
  font-size: 2.441rem;
}

h4 {
  font-size: 1.953rem;
}

h5 {
  font-size: 1.563rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

a,
a:link {
  text-decoration: underline;
  outline: none;
  cursor: pointer;
  color: var(--blue);
}

a:hover,
a:active,
a:focus {
  color: var(--indigo);
}

a:visited {
  color: var(--violet);
}

label {
  font-weight: 700;
}

hr {
  border: none;
  border-top: 0.125rem solid var(--medium);
  border-bottom: 0.125rem solid var(--transparent);
}

img {
  display: block;
}
